.cart_container {
  min-width: 50rem;
}

.title {
  text-align: left;
  margin: 1rem 0 1rem;
}

.list {
  list-style-type: none;
}

.content_container {
  justify-content: center;
}

.total_container {
  display: flex;
  justify-content: space-between;
}

.total_amount {
  padding: 0.5rem;
  border-radius: 3px;
  background-color: #d6824dbe;
  box-shadow: 0 0 5px 0 #27272750;
}

.buttons_container {
  display: flex;
  gap: 4px;
}

.button {
  color: #8d5633;
  background-color: #fffcfa;
}

.button:hover {
  border: solid 1px #d6824d;
}

.button:active {
  transform: translateY(1px);
}
