.error_container {
  display: flex;
  flex-direction: column;
}

.error_title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.button {
  color: #8d5633;
  background-color: #fffcfa;
}

.button:hover {
  border: solid 1px #d6824d;
}

.button:active {
  transform: translateY(1px);
}
